:root {
  --color-verydark-grayish-blue: #48556a;
  --color-desaturated-dark-blue: #6e8098;
  --color-grayish-blue: #9daec2;
  --color-light-grayish-blue: #ecf2f8;
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--color-light-grayish-blue);
  color: var(--color-desaturated-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 1.6rem;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.preview {
  max-width: 32.7rem;
  min-height: 51.2rem;
  background-color: var(--color-white);
  box-shadow: 0 9px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.preview__image-container {
  max-height: 20rem;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.preview__content {
  padding: 3.2rem;
  padding-bottom: 2rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.2rem;
}

.preview__title {
  font-size: 1.6rem;
  color: var(--color-verydark-grayish-blue);
}

.preview__text {
  font-weight: 500;
  letter-spacing: 0.12px;
}

.preview__author {
  margin-top: auto;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1.6rem;
}

.preview__author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preview__author-name {
  font-size: 1.3rem;
  color: var(--color-verydark-grayish-blue);
}

.preview__share-container {
  margin-left: auto;
  align-self: flex-end;
}

.preview__share-btn,
.preview__share-btn:link,
.preview__share-btn:visited {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: auto;

  transition: all 0.3s;
  position: relative;
  z-index: 10;
}

.preview__share-icon {
  fill: var(--color-verydark-grayish-blue);
}

.preview__share-btn:hover,
.preview__share-btn:active,
.preview__share-btn:focus,
.preview__share-btn--active {
  background-color: var(--color-desaturated-dark-blue);
}

.preview__share-btn:hover .preview__share-icon,
.preview__share-btn:active .preview__share-icon,
.preview__share-btn:focus .preview__share-icon,
.preview__share-btn--active .preview__share-icon {
  fill: var(--color-light-grayish-blue);
}

.share-menu {
  background-color: var(--color-verydark-grayish-blue);
  padding: 2.65rem;
  color: var(--color-grayish-blue);
  font-weight: 500;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.share-menu p {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.share-menu.hidden {
  opacity: 0;
}

@media screen and (min-width: 64em) {
  .preview {
    max-width: 73rem;
    min-height: 28rem;
    flex-direction: row;
  }

  .preview__content {
    padding: 3.2rem 4rem;
  }

  .preview__title {
    font-size: 2rem;
  }

  .preview__image-container {
    flex: 1 0 28.5rem;
    max-height: 100%;

    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .preview__image {
    max-width: 100%;
    height: 100%;
  }

  .preview__content {
    flex: 0 1 auto;
  }

  .preview__share-container {
    position: relative;
  }

  .share-menu {
    bottom: auto;
    left: 50%;
    right: auto;
    top: 0;
    display: flex;
    transform: translate(-50%, calc(-100% - 28px));
    width: 24.8rem;
    border-radius: 10px;
    justify-content: center;
    padding: 1.8rem 3.7rem;
  }

  .share-menu::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--color-verydark-grayish-blue);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
}
